
/* font-family: Anton , cursive;
    font-family: Kaushan Script;
    font-family: Rampart One; */

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

*img {
    display: block;
}

html {
  
}

body {
    background: #fffffff1;
}

.header {
    column-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #767770e1;
    background-image: url(./images/detective_penguin.svg);
    background-repeat: no-repeat;
    background-position: 96%;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
}

.header__main {
    display: flex;
    justify-content: center;
    
}

.header__img {
    flex: 1 0 auto;
    object-fit: scale-down;
    display: block;
    height: 100%;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    
    
}

.text-wrapper-max {
    font-size: 2em;
    font-family: 'Rampart One', cursive;
    white-space: nowrap;
    align-items: center;
    color: rgb(0, 10, 6);
    
}

.text-wrapper-min {
    font-size: 1.4em;
    font-family: 'Neucha', cursive;
    font-weight: 900;
    align-self: center;
    white-space: nowrap;
}

.header__list {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    column-gap: 10px;
    font-family: 'Neucha', cursive;
    font-size: 1.7em;
    font-weight: 600;
}

.header__list li {
    text-shadow: rgb(2, 13, 27) 0px 1px 10px;
    
}

.header__list li:hover {
    color:rgb(250, 250, 250);
    cursor: pointer;
}

.header__input {
    /* margin-left: 10px; */
    padding: 5px;
    margin-right: 5px;
    opacity: 80%;
}

.burger-menu {
    position: relative;
    width: 35px;
    height: 20px;
    margin-left: 11px;
    display: none;
}

.burger-menu div {
    position: absolute;
    height: 3px;
    width: 27px;
    background-color: rgb(3, 3, 7);
}

.burger-menu div:nth-child(1) {
    top: 2px;
}

.burger-menu div:nth-child(2) {
    top: 9px;
}

.burger-menu div:nth-child(3) {
    bottom: 1px;
}

.burger-navigation {
    background-color: rgba(42, 167, 48, 0.788);
    font-family: 'Neucha', cursive;
    font-weight: 700;
    font-size: 1.5em;
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 70px;
    height: 100%; 
    display: none;
    
}

.burger-navigation__flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style-type: none;
}

.burger-navigation__flex li {
    border: 1px solid rgba(104, 94, 94, 0.473);
    padding: 10px 0 10px 10px;
}

.elements {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
    height: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}

.element {
    border: 3px outset #f5f0f0;
    flex: 1 1 auto;
    transition: background-image 0.5s;
    
}

.photo {
    padding: 10px;
    display: block;
    object-fit: scale-down;
    margin-right: auto;
    margin-left: auto;
}

.about_btn { 
    display: block;
    margin: 10px auto 10px auto;
    width: 180px;
    background-repeat: no-repeat; 
    background-color: rgba(60, 117, 22, 0.801);
    color: rgba(6, 10, 10, 0.966);
    padding: 5px;
    animation: text_t 1s infinite;
    font-weight: 700;
    font-size: 17px;
    box-shadow: 0px 0px 10px rgba(129, 27, 27, 0.774);
    font-family: Neucha;
    border-radius: 15px;
    box-sizing: content-box;
    white-space: nowrap;
}

.about_btn:hover {
    color:rgb(250, 250, 250);
    box-shadow: 0px 0px 30px rgb(75, 250, 5);
    cursor:pointer;
}

@keyframes text_t {
from {
    
}
50%
{
    
}
100% {
    
}

}

.about {
    color:rgba(255, 255, 255, 0.979);
    font-size: large;
    position: absolute;
    width: 50%;
    height: 300px;
    border: 10px solid rgba(206, 194, 194, 0.514);
    border-radius: 20px;
    padding: 7px;
    top: 50%;
    align-self: center;
    flex-direction: row;
    background-color: rgb(1, 9, 17);
    display:flex;
    
}

.img-stat {
    border: 2px solid rgba(255, 0, 0, 0.76);
    margin-right: 10px;
    
}

.info {
    align-content: center;
    text-align:justify;
    white-space: pre-line;
    overflow: auto;
    padding-right: 10px;
}

#footer {
    background-color:rgb(240, 168, 12);
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

@media all and (max-width: 1200px) {
    .text-wrapper-max {
        font-size: 1.6em;
    }

    .text-wrapper-min {
        font-size: 1.2em;
    }

    .header__img {
        width: 80px;
    }

    .header__list {
        font-size: 1.4em;
    }

    .header__input {
        width: 145px;
        
    }
}

@media all and (max-width: 960px) {
    .burger-menu {
        /* display: block; */
    }

    .text-wrapper-max {
        font-size: 1.4em;
    }

    .text-wrapper-min {
        font-size: 1em;
    }

    .header__img {
       width: 65px;
    }

    .header__list {
        font-size: 1.3em;
    }
}

@media all and (max-width: 867px) {
    .header {
       justify-content: normal;
       
    }

    .header__main {
        margin-left: -25px;

    }

    .burger-menu {
        display: block;
    }

    .header__list  {
        display: none;
    }

    .header__input {
       margin-left: auto;
    }
}

@media all and (max-width: 415px) {

    html {
        width: fit-content;
    }
    .header {
       
    }
    .about_btn {
       
    }
}
